.sidebar-nav>ul>li>a.active {
    font-weight: 400;
    background: #ffffff;
    color: #398bf7;
}

.topbar .navbar-header {
    background: none;
}

.main-logo-text {
    font-size: 25px;
    color: white;
    font-weight: bold
}

.btn-primary,
.btn-primary.disabled {
    background: #0062cc
}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.show>.btn-primary.dropdown-toggle {
    background-color: #0062cc;
    border: 1px solid #0062cc;
}

.btn-primary.disabled:hover,
.btn-primary:hover {
    background-color: #0062cc;
}
