body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    font-weight: 400;
}

.topbar {
    background: #364F6B;
}

.sidebar-nav>ul>li>a.active {
    font-weight: 400;
    background: #ffffff;
    color: #99abb4;
}

.text-themecolor {
    color: #99abb4 !important;
}

a:hover {
    color: #99abb4 !important;
    text-decoration: underline;
}

a {
    color: #99abb4;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav>ul>li.active>a i {
    color: #99abb4;
}

.sidebar-nav ul li a.active i,
.sidebar-nav ul li a:hover i {
    color: #99abb4;
}

.sidebar-nav>ul>li.active>a {
    color: #99abb4;
    font-weight: 500;
}

.topbar .navbar-header {
    background: none;
}

.main-logo-text {
    font-size: 25px;
    color: white;
    font-weight: bold
}

.btn-primary,
.btn-primary.disabled {
    background: #0062cc
}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.show>.btn-primary.dropdown-toggle {
    background-color: #0062cc;
    border: 1px solid #0062cc;
}

.btn-primary.disabled:hover,
.btn-primary:hover {
    background-color: #0062cc;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 14px;
    padding: 5px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {
    background: none;
}

.floating-wpp {
    right: 25px;
}